################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/OIfs/bin/Release/netstandard2.0
**/bin/**
**/obj/**
**/.vs/**
**/.idea/**
*.log
